@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    132 Car Insurance Street<br />
    Insuranceville, OR 97524 <br />
    <abbr title="Phone">P:</abbr>
    555.202.4121
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@CarInsurance.com">Support@CarInsurance.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@CarInsurance.com">Marketing@CarInsurance.com</a>
</address>