@{
    ViewBag.Title = "About";
}
<h2>About Us</h2>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Suspendisse scelerisque odio vel sagittis viverra. Curabitur a ligula vitae sem convallis sollicitudin.
    In et quam ornare, iaculis nunc a, euismod massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Praesent nec dui aliquet, blandit neque egestas, euismod nisi. Aliquam iaculis, justo vitae ullamcorper dapibus,
    lectus diam dictum nibh, eu rutrum dui sem sit amet metus. Proin aliquet sapien nec sollicitudin pulvinar. Quisque
    porta erat sed tincidunt viverra. Vestibulum auctor lobortis libero, in pretium lorem molestie vulputate.
    Mauris in odio sodales, pharetra sem sit amet, eleifend nisl. Nullam suscipit congue vehicula. <br />

    <br />Duis erat nisl, varius quis augue sit amet, molestie pretium sem. Nulla tempor, tellus vel suscipit tempor,
    justo quam rhoncus elit, vitae dignissim nulla magna ac nunc. Nullam sit amet viverra elit. Duis dictum lacus nec dui pharetra tempus.
    Sed turpis nisl, egestas quis erat eu, varius sodales ipsum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames
    ac turpis egestas. Fusce mollis blandit dolor eget sodales. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam lacinia vehicula eros,
    ut rhoncus neque iaculis id. Fusce et justo quis diam commodo facilisis. Sed porta sapien sit amet varius congue. Aliquam vel nulla at metus eleifend interdum
    sit amet et velit. <br />

    <br />Nam quam mi, congue id mattis sed, facilisis et justo. Nullam eleifend mauris vel lacinia gravida. Nulla facilisi. 
    Vivamus suscipit risus quis velit tempor, et facilisis nibh tincidunt. Donec vitae ultricies nunc, vitae fermentum nibh. 
    Nunc enim ipsum, lacinia sit amet nisl in, ornare tristique neque. Sed sit amet metus quis ipsum aliquam tempus hendrerit 
    aliquam metus. Aenean a est elit. Sed turpis eros, dapibus vitae congue varius, aliquet in dolor. Nam varius, ligula ac faucibus dapibus, 
    libero nisl eleifend turpis, vitae fermentum nisi arcu non felis. Proin pulvinar, enim ut facilisis tincidunt, ipsum odio laoreet nibh, 
    in suscipit ante turpis sit amet augue. Donec tincidunt ex a nulla faucibus lacinia. Vestibulum finibus non est sit amet tristique. Nulla 
    pharetra blandit ligula, vel varius urna fringilla gravida. <br />
</p>
