@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    66272 Main Street<br />
    Vancouver, WA 98661<br />
    <abbr title="Phone">P:</abbr>
    555.627.2824
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:support@ruzishop.com">support@ruzishop.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:marketing@ruzishop.com">marketing@ruzishop.com</a>
</address>